// .wl-mat-table {
  // width: 100%;
  // &.resizing {
  //   -moz-user-select: none;
  //   -ms-user-select: none;
  //   user-select: none;
  //   cursor: col-resize;
  // }
  // .wl-mat-cell {
  //   span {
  //     display: block;
  //     overflow: hidden;
  //     text-overflow: ellipsis;
  //   }
  // }


  // .wl-mat-header-cell {
  //   position: relative;
  //   background-color: orange;
  //   &:not(:last-child) {
  //     span {
  //       cursor: col-resize;
  //       width: 10px;
  //       height: 20px;
  //       position: absolute;
  //       background-color: blue;
        // right: -10px;
        // top: 0;
  //       z-index: 10;
  //     }
  //   }
  // }
  // .wl-mat-cell,
  // .wl-mat-header-cell {
  //   border-right: 2px solid red;
  //   &:not(:nth-child(1)) {
  //     padding: 0 10px;
  //   }
  // }
// }

@media only screen and (max-width: 600px) {
    .wl-mat-table {
      display: block;
      width: 100%;
      display: flex;
      flex-direction: column;
  
      tr{
        height: 100%;
      }
    }
  
    .wl-mat-header-row {
      display: none;
    }
  
    .wl-mat-row {
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #e0e0e0;
      margin-bottom: 20px;
    }
  
    .wl-mat-cell {
      display: flex;
      justify-content: space-between;
      padding: 8px;
      border-bottom: 1px solid #e0e0e0;
    }
  
    .wl-mat-cell::before {
      content: attr(data-column);
      font-weight: bold;
      margin-right: 16px;
    }
  }
  