.table-container {
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .wl-mat-table {
    // display: block;
    // width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 100%;  
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  td{
    height: max-content;
  }

  .wl-mat-header-row {
    display: none;
  }

  .wl-mat-row {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
  }

  .wl-mat-cell {
    display: flex;
    justify-content: space-between;
    height: 200px;
    // padding: 8px;
    border-bottom: 1px solid #e0e0e0;
  }

  .wl-mat-cell::before {
    content: attr(data-column);
    font-weight: bold;
    margin-right: 16px;
  }
}
